<div ng-controller="principalController">

    <div id="map" ng-show="afficheloader" class="google-maps" data-ng-controller="principalController"
         data-ng-init="init()">
        <div class="spinner-wrapper" id="loader">
            <span class="spinner-text">Chargement ...</span>
            <span class="spinner"></span>
        </div>
    </div>
    <div class="span3 animated fadeIn" id="refresh">
        <button ng-click="refresh()" ng-model="clicked" class="btn btn-small btn-info"
                style="width: 100%;font-size: medium;">
            Actualiser
        </button>
    </div>
    <div class="span12 well" style="margin-top: 50px;margin-left: 8%">
        <h3 style="color: #aab5bf;font: contextual">QUE VOULEZ-VOUS FAIRE AUJOURD'HUI ?</h3>

        <div class="row">
            <div class="span4">
                <div class="span3" style="font-size: 25px;font-style: oblique;color: #0d90d1"><img
                        src="style/img/img%20icon/marker_cafe.png" width="30px">Cafe
                </div>
                <div class="span3">Il fait chaud, vous avez du temps, et vous voulez prendre un verre en terrasse
                    avec des amis, ou peut-être même votre rendez-vous de la journée ? Eh bien c\'est ici que ça se
                    passe !
                </div>
            </div>
            <div class="span4">
                <div class="span3" style="font-size: 25px;font-style: oblique;color: #0d90d1"><img
                        src="style/img/img%20icon/marker_hotel.png" width="30px">Hotel
                </div>
                <div class="span3">Vous voulez passer la soirée dans une ville que vous visiter pour travaille ou simple
                    passage, mais vous n\'y habitez pas ? Pas de problème ! Voici les hôtels que nous avons sélectionné
                    pour vous.
                </div>
            </div>
            <div class="span4">
                <div class="span3" style="font-size: 25px;font-style: oblique;color: #0d90d1"><img
                        src="style/img/img%20icon/marker_restaurent.png" width="30px">Restaurent,Snack,...
                </div>
                <div class="span3">Vous avez une petite faim ou vous cherchez un endroit ou prendre un dinner en famille
                    ou tete a tete,ici vous trouverais tout les Restaurent les plus pres de vous selon vos gout est
                    desire.
                </div>
            </div>
            <div class="span4" style="margin-top: 50px">
                <div class="span3" style="font-size: 25px;font-style: oblique;color: #0d90d1"><img
                        src="style/img/img%20icon/marker_hopital.png" width="30px">Hopital,Clinique,...
                </div>
                <div class="span3">Vous etre malade,blessez ou chercher un docteur dans un domaine specifique,on vous
                    indique le lieu le plus pres de vous que vous chercher.
                </div>
            </div>

            <div class="span4" style="margin-top: 50px">
                <div class="span3" style="font-size: 25px;font-style: oblique;color: #0d90d1"><img
                        src="style/img/img%20icon/marker_shopping.png" width="30px">Boutique,Marché
                </div>
                <div class="span3">Il est temps de faire vos courses et vous chercher le magasin le plus proche de chez
                    vous,Boutique,Super Marcher ou Mall
                </div>
            </div>

            <div class="span4" style="margin-top: 50px">
                <div class="span3" style="font-size: 25px;font-style: oblique;color: #0d90d1"><img
                        src="style/img/img%20icon/marker_diver.png" width="30px">Hopital,Clinique,...
                </div>
                <div class="span3">Weekend ou Samedi soir vous voulais sortir avec vos amis, Cinema,Club,Salon
                    Lounge,Boite de nuit,
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span4" style="margin-top: 50px;margin-left: 250px">
                <div class="span3" style="font-size: 25px;font-style: oblique;color: #0d90d1"><img
                        src="style/img/img%20icon/marker_transport.png" width="30px">Mosque
                </div>
                <div class="span3">Mosque,Eglise,synagoge different lieu religieux pres de vitre location.
                </div>
            </div>
            <div class="span4" style="margin-top: 50px">
                <div class="span3" style="font-size: 25px;font-style: oblique;color: #0d90d1"><img
                        src="style/img/img%20icon/marker_mosque.png" width="30px">Transport
                </div>
                <div class="span3">Gare,Aeroport,Agence de voyage.Bref touut ce qui a rapport avec le Transport
                </div>
            </div>
        </div>
    </div>
</div>

