<div data-ng-controller="sideprincipalController" data-ng-init="init()">

    <div id="nav2" class="span8">
        <img src="style/img/img%20icon/loupe.png" style="width: 50px; padding-bottom: 50px">
    </div>
    <div id="nav" class="container">
        <h3 style="margin-left: 30px">Recheche :</h3>


        <div class="btn-group" style="margin-left: 30px;">

            <button type="button" class="btn " ng-model="checkModel.cafe" ng-change="refreshTrieCafe()" btn-checkbox>
                <img src="style/img/img%20icon/cafe_bg_32.png" width="30px"/>
            </button>
            <button type="button" class="btn " ng-model="checkModel.hotel" ng-change="refreshTrieHotel()"
                    btn-checkbox><img
                    src="style/img/img%20icon/hotel_bg_32.png" width="30px"/>
            </button>
            <button type="button" class="btn " ng-model="checkModel.resto" ng-change="refreshTrieResto()"
                    btn-checkbox><img
                    src="style/img/img%20icon/default_bg_64.png" width="30px"/>
            </button>
            <button type="button" class="btn " ng-model="checkModel.shop" ng-change="refreshTrieShop()"
                    btn-checkbox><img
                    src="style/img/img%20icon/default_shopping.png" width="30px"/>
            </button>
        </div>
        <div class="btn-group" style="margin-left: 30px;">
            <button type="button" class="btn " ng-model="checkModel.club" ng-change="refreshTrieClub()" btn-checkbox>
                <img
                        src="style/img/img%20icon/nightclub_bg_32.png" width="30px"/>
            </button>
            <button type="button" class="btn " ng-model="checkModel.transport" ng-change="refreshTrieTransport()"
                    btn-checkbox><img
                    src="style/img/img%20icon/default_bg_32.png" width="30px"/>
            </button>
            <button type="button" class="btn " ng-model="checkModel.mosque" ng-change="refreshTrieMosque()"
                    btn-checkbox><img
                    src="style/img/img%20icon/religious_mosque_bg_32.png" width="30px"/>
            </button>
            <button type="button" class="btn " ng-model="checkModel.hopital" ng-change="refreshTrieHopital()"
                    btn-checkbox><img
                    src="style/img/img%20icon/medical_hospital_bg_32.png" width="30px"/>
            </button>
        </div>
        <form class="form-inline" ng-submit="sideForm()" style="margin-left: 30px;">
            <div class="control-group">
                <label for="email" class="control-label">MotCle :</label>

                <div class="controls">
                    <input ng-model="sideMotCle" type="text"
                           placeholder="Nom/Ville/Coordonee" id="email">
                </div>
            </div>

            <div class="control-group">
                <label for="email" class="control-label">Ville :</label>

                <div class="controls">
                    <select ng-model="sideVille">
                        <option ng-repeat="ville in villeList" value="{{ville.nom}}">{{ville.nom}}</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label for="rayon" class="control-label">Rayon Km:</label>

                <div class="controls">
                    <input ng-model="sideRayon" id="rayon" type="number" value="5" min="1"
                           max="20">
                </div>
            </div>

            <button style="width: 220px" type="submit" class="btn btn-primary">Chercher
            </button>
        </form>
    </div>
    <!-- .span8 -->


</div>
<script>
    $(function () {
        $('#nav2').hover(function () {
            $(this).animate({width: '400px'}, 500);
            $('#nav').animate({width: '300px'}, 500);
        }).trigger('mouseleave');
    });
    $(function () {
        $('#nav').mouseleave(function () {
            $('#nav2').animate({width: '130px'}, 500);
            $('#nav').animate({width: '0px'}, 500);
        });
    });
</script>