<script>
    $('.selectpicker').selectpicker();
</script>

<div ng-controller="listController">
<div data-ng-controller="listController">
<div collapse="afficheRechDetail" id="collapse">
    <div class="container-fluid search-container">
        <div class="span2"></div>
        <form class="span10 search-form">
            <input class="span2" type="text" placeholder="Keywords ..." ng-model="tags.tags"/>
            <select ng-model="tags.city" class="span2 selectpicker">
                <option class="opt-left" value="">Toutes les Villes</option>
                <option class="opt-left">Rabat</option>
                <option class="opt-left">Casablanca</option>
                <option class="opt-left">Al Hoceima</option>
            </select>

            <select ng-model="tags.category" class="span4 selectpicker" multiple title="Choisi une Categorie ..">
                <option class="opt-left" value="hotel">Hôtels</option>
                <option class="opt-left" value="cafe">Cafés</option>
                <option class="opt-left" value="restaurant">Restaurant</option>
            </select>
            <input class="span search-btn" value="Search" type="submit" ng-click="search();"/>
        </form>
        <div class="span2"/>
    </div>
</div>
<div  class="container-fluid">
    <div class="row-fluid">
        <div  class="span3"></div>
        <div id="content" class="span6">
            <br/><div style="text-align: right;"> <span class="badge" >{{total}} Lieux Trouvés</span></div>
            <div id="maincontent" data-ng-init="init()">
            <div class="container carbonad" ng-repeat="article in articles">
                <div class="container-fluid">
                    <div class="row-fluid" >
                        <div class="span4">
                            <a href="{{article.link}}"><img ng-src="{{article.picture}}" alt="" class="img-rounded"/></a>
                        </div>
                        <div class="span5">
                            <h4>{{article.title}}</h4>
                                <i class="icon-map-marker"></i><cite> {{article.address}}</cite><br/>
                                <i class="icon-tag"></i> {{article.category}}<br/>
                                <i class="icon-calendar"></i> {{article.date}}<br/>

                            <!-- Split button -->
                        <a type="button" class="btn btn-info" href="{{article.link}}" style="margin-top: 5px;">Read More ...</a>
                        </div>
                        <div class="span3" id="rating">
                            <h1 class="rating-num">
                                {{article.rate}}</h1>
                            <div class="rating">
                                <span data-ng-repeat="i in [1,2,3,4,5]" ng-class="{true:'icon-star', false:'icon-star-empty'}[i<=article.rateInt]"></span>

                            </div>
                            <br/>
                            <div>
                                <span class="icon-user"></span>  {{article.usersCount}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="pagination pagination-small" style="text-align: center;">
                <ul>

                    <li ng-class="{active: hasprev==false}"><a href="#/list" ng-click="gotoPage(currentPage-1)">Prev</a></li>
                    <li ng-repeat="p in pagesCount" ng-class="{active: p==currentPage}"><a href="#/list" ng-click="gotoPage(p);">{{p}}</a></li>
                    <li ng-class="{active: hasnext==false}"><a href="#/list" ng-click="gotoPage(currentPage+1)">Next</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="span3"></div>
    </div>
    </div>
</div>
</div>