* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 0px;
}

#nav {
    width: 400px;
    height: 480px;
    position: absolute;
    right: 0;
    z-index: 400;
    margin-top: 60px;
    background-color: rgba(100, 100, 100, 0.5);
    color: #fff;
    overflow: hidden;
    border-radius:6px;
    -webkit-border-radius:6px
}

#nav ul {
    margin: 0;
    padding: 0;
    width: 400px;
    margin: 0px;
    list-style: none;
}

#nav a span {
    margin: 0 0 0 0;
}

#nav a {
    font-size: 14px;
    text-decoration: none;
}

#nav2 {
    width: 450px;
    height: 50px;
    margin-top: 10px;
    position: absolute;
    top: 500;
    right: 0;
    z-index: 100;
    background-color: transparent;
    color: #fff;
    overflow: hidden;
}

#refresh {
    margin-top: 0px;
    margin-left: 43%;
    position: absolute;
    top: 500;
    left: 0;
    z-index: 100;
    background-color: transparent;
    color: #fff;
    overflow: hidden;
}

input[type=checkbox].css-checkbox {
    display: none;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 39px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -34px;
}

label.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_1d44cfcb2c9ddfac3f45c59b9548f0f7.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

table {
    border-collapse: collapse;
}

.percent {
    position: absolute;
    width: 300px;
    height: 14px;
    z-index: 1;
    text-align: center;
    font-size: 0.8em;
    color: white;
}

.progress-bar {
    width: 300px;
    height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}

.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}

.dropbox {
    width: 15em;
    height: 3em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;
}

.dropbox span {
    margin-top: 0.9em;
    display: block;
}

.dropbox.not-available {
    background-color: #F88;
}

.dropbox.over {
    background-color: #bfb;
}

.infobox-wrapper {
    display:none;
}
#infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}